__pycache__/
*.pyc

# skin.xperience1080 and skin.xperience1080.experimental
Thumbs.db
*.psd
*.sublime-project
*.sublime-workspace
*.xbt
*.log
*.cmd
skin.xperience1080*/1080i/script-skinshortcuts-includes.xml
